body {
    background-color: rgb(159, 184, 175);
} 

section{
    width:200px;
    margin: 0 auto;
    padding-top: 100px;
} 

li,button {
    font-size: 1.5em;
}

input {
    margin-bottom: 20px;
}

